header {
    flex: 1;
  flex-basis: 100%;
  padding: 14px;
  background: #f4f4f1;
  .container{
    max-width: 55%;
    margin: auto;
    .logo{
        figure{
            margin: 0;
            img{
                width: 244px;
            }
        }
    }
  }
}
